{{#extends 'base'}}

{{#block "content"}}
<h3>Search:</h3>
<form method="GET">
    {{{searchForm}}}
    <input type="submit" class="btn btn-primary btn-sm mt-3" value="Search"/>
</form>

<hr>
<hr>

{{#if user.admin}}
<a href="/sneakers/create" class="btn btn-primary btn-sm mt-3">Create</a>
{{/if}}
<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Price</th>
            <th>Cut</th>
            <th>Colors</th>
            <th>Tags</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each sneakers}}
        <tr>
            <td>
                {{this.brand.name}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.price}}
            </td>
            <td>
                {{this.cutType.name}}
            </td>
            <td>
                {{#each this.colors}}
                    <span class="badge bg-success">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#each this.tags}}
                    <span class="badge bg-success">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#if this.image_url}}
                    <img src="{{this.image_url}}" class="img-fluid" width="140" height="100"/>
                {{/if}}
            </td>
            <td>
                <a href="/cart/{{this.id}}/add" class="btn btn-success btn-sm">Add to Cart</a>
                {{#if user.admin}}
                <a href="/sneakers/{{this.id}}/update" 
                    class="btn btn-primary btn-sm">Edit</a>
                <a href="/sneakers/{{this.id}}/delete"
                    class="btn btn-danger btn-sm">Delete</a>
                {{/if}}
            </td>
        {{/each}}
        </tr>
    </tbody>
</table>
{{/block}}

{{/extends}}